body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
}

h1 {
  font-size: 28px;
}

.r {
  transform: scaleX(-1);
  display: inline-block;
  color: red;
}

.menu {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.header-grid-container {
  display: grid;
  grid-template-columns: repeat (1fr);
  text-align: center;
}

.header-grid-container {
  gap: 15px;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.forside-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}
.category {
  background-color: rgb(101, 13, 23);
  color: white;
  padding: 60px;
  text-align: center;
  font-size: 30px;
  border-radius: 1px;
  text-decoration: none;
}

.liste-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.produkt-kort {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produkt-kort img {
  max-width: 100%;
  height: auto;
}

.price,
.old-price {
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.new-price {
  font-weight: bold;
  color: red;
}

.discount {
  background: red;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
}

.read-more {
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.sold-out {
  position: relative;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gray;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}
/* ________________________________ */
.link-sti {
  padding: 10px 20px;
  font-size: 14px;
  color: #777;
}

.link-sti a {
  text-decoration: none;
  color: black;
}

.produkt-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 40px;
}

.produkt-image img {
  max-width: 100%;
  display: block;
}

.produkt-info {
  padding: 20px;
}

.produkt-info h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.produkt-info p {
  font-size: 18px;
  margin: 10px 0;
}

.purchase-box {
  background: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
}

.purchase-box h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.add-to-basket {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.add-to-basket:hover {
  background-color: #444;
}
